   	body {
   	margin: 0;
   	background: #F5F5F6;
   	font-family: 'Source Sans Pro', sans-serif;
   	font-size: 1em;
   	color: #231F20;
   }   

   .headerfoto {
   	margin-top: 3.2em;
   	background-position: center;
   	background-repeat: no-repeat;
   	background-size: cover;
   	background-image: url("/img/header.png");
   	padding: 10em 0em 0em 2em;
   }
   
   @media (min-width: 60em) {
   	.headerfoto {
   		padding: 18em 0em 0em 2em;
   	}
   }
   
   .headerfoto h1 {
   	color: #fff;
   	text-shadow: rgba(0, 0, 0, 0.6) 0 0 0.9em;
   	line-height: 1.5;
   	font-size: 1.5em;
   	text-align: center;
   	padding: 0em 0em 3.5em 0em;
   }
   
   nav {
   	height: 3.2em;
   	background-color: #fff;
   	overflow: hidden;
   	z-index: 1;
   	position: fixed;
   	top: 0;
   	box-shadow: 0 0.06em 1.25em 0 rgba(35, 31, 32, .1);
   	width: 100%;
   }
   
   nav ul {
   	max-width: 67.5em;
   	list-style: none;
   	margin: 0 auto;
   	padding: 0;
   	display: flex;
   	justify-content: flex-end;
   }
   
   nav li {
   	margin: 1rem;
   }
   
   header li:first-of-type {
   	margin-right: auto;
   }
   
   nav li:first-child {
   	justify-self: start;
   }
   
   nav li:first-of-type img {
   	margin-top: -0.2em;
   	height: 2.2rem;
   }
   
   nav li:nth-of-type(2) img {
   	width: 1.3rem;
   }
   
   nav li:nth-child(2):hover img {
   	width: 1.3rem;
   	opacity: 0.4;
   	transition: 1s;
   }
   
   header article {
   	margin-top: -6em;
   	max-width: 67.5em;
   	margin-left: auto;
   	margin-right: auto;
   	padding: 0em 1em 1em 1em;
   	background-color: #D82331;
   	border-radius: 0.32em 0.32em 0.32em 0.32em;
   	box-shadow: 0em 0.06em 1.25em 0em rgba(35, 31, 32, .3);
   }
   
   header article h2 {
   	font-size: 1.125em;
   	padding: 0.6em;
   	color: #ffffff;
   	text-align: center;
   }
   
   header article h3 a {
   	color: #ffffff;
   	font-size: 1em;
   	font-weight: normal;
   	text-decoration: none;
   }
   
   header article h3 {
 	border-bottom: none;
   }
   
   article {
   	border-radius: 0.32em;
   	width: 90%;
   	padding-left: 1em;
   	padding-right: 1em;
   	margin: auto;
   	background-color: #fff;
   	box-shadow: 0em 0.625em 1.875em 0em rgba(35, 31, 32, .1);
   	height: 100%;
   	margin-bottom: 1em;
   }
   
   article:hover {
   	box-shadow: 0em 0.625em 1.875em 1em rgba(35, 31, 32, .1);
   }
   
   article:focus {
   	box-shadow: 0em 0.625em 1.875em 1em rgba(35, 31, 32, .1);
   }
   
   article a>img:hover {
   	opacity: 0.9;
   }
   
   article a>img {
   	width: calc(100% + 2em);
   	margin-left: -1em;
   	opacity: 0.8;
   	border-top-right-radius: 0.32em;
   	border-top-left-radius: 0.32em;
   }
   
   article>h3 a {
   	margin: 0 0 3.6em;
   	font-size: 1em;
   	font-weight: 600;
   	color: #00477F;
   	text-decoration: none;
   }
   
   article>h3 {
   	font-weight: normal;
   	border-bottom: 0.125em #ed1a2d solid;
   	padding: 0em 0em 0.6em 0.0em;
   }
   
   article>ul {
   	list-style-type: none;
   	padding: 0;
   }
   
   main {
   	display: grid;
   	grid-gap: 1em;
   }
   
   aside {
   	border-radius: 0.32em;
   	width: 90%;
   	padding-left: 1em;
   	padding-right: 1em;
   	margin: auto;
   	background-color: #fff;
   	box-shadow: 0em 0.625em 1.875em 0em rgba(35, 31, 32, .1);
   	height: 100%;
   }
   
   aside>h2 {
   	font-size: 1.125em;
   	font-weight: 600;
   	color: #00477F;
   	border-bottom: 0.0625em #E2E2E3 solid;
   	padding: 0em 0em 0.6em 0.0em;
   }
   
   aside>fieldset legend {
   	font-size: 1em;
   	font-weight: 600;
   	color: #00477F;
   	border: none;
   	width: 100%;
   }
   
   aside>fieldset {
   	border: none;
   	margin: 0;
   	padding: 0.2em 0em 2em 0em;
   }
   
   aside>fieldset ul {
   	list-style: none;
   	margin: 0em;
   	padding: 0em;
   }
   
   aside>fieldset input[type="range"] {
   	-webkit-appearance: none;
   	-moz-appearance: none;
   	appearance: none;
   	width: 100%;
   	cursor: pointer;
   	position: relative;
   	background: #E2E2E3;
   	box-shadow: 0.0625em 0.0625em 0.0625em #F6F6F6;
   	height: 0.69em;
   }
   
   aside>fieldset input[type="range"]:focus {
   	background: #F1F1F1;
   	outline: none;
   }
   
   aside>fieldset input[type="range"]::-webkit-slider-thumb {
   	-webkit-appearance: none;
   	-moz-appearance: none;
   	appearance: none;
   	background: #009DDA;
   	height: 1.8em;
   	width: 1.8em;
   	border-radius: 100%;
   	box-shadow: 0.0625em 0.0625em 0.0625em #666666;
   }
   
   aside>fieldset input[type="range"]::before {
   	content: "0 min";
   	position: absolute;
   	top: 1.5em;
   	left: 0;
   }
   
   aside>fieldset input[type="range"]::after {
   	content: "6 min";
   	position: absolute;
   	top: 1.5em;
   	right: 0;
   }
   
   aside>fieldset:nth-child(4) input {
   	display: none;
   }
   
   aside>fieldset:nth-child(4) ul {
   	padding-top: 1em;
   }
   
   aside>fieldset:nth-child(4) ul li {
   	padding: 0em 0em 1em 0em;
   	display: inline-block;
   }
   
   aside>fieldset:nth-child(4) ul input[type='checkbox']:checked+label {
   	background-color: #4CC8F3;
   }
   
   aside>fieldset:nth-child(4) ul label {
   	background-color: #D5EFFB;
   	padding: 0.4em 0.4em 0.4em 0.4em;
   }
   
   aside>fieldset:nth-child(4) ul label:hover {
   	background-color: #c4ecfe;
   }
   
   aside form fieldset button {
   	width: 100%;
   	font-size: 0.9em;
   	font-weight: 500;
   	background-color: #00477F;
   	;
   	color: #fff;
   	border-radius: 0.5em;
   	border: none;
   }
   
   aside form fieldset {
   	font-size: 0.9em;
   	font-weight: 500;
   	background-color: #00477F;
   	color: #fff;
   	padding: 1em 1.5em 1em 1.5em;
   	border-radius: 0.5em;
   	border: none;
   }
   
   .mediumtitel {
   	padding-bottom: 1.2em;
   }
   
   .kortetitel {
   	padding-bottom: 2.5em;
   }
   
   article button {
   	background-color: #ebebec;
   	height: 3.5em;
   	width: 3.5em;
   	border-radius: 100%;
   	border: 0.3em solid #fff;
   	margin-top: -5em;
   	position: absolute;
   	cursor: pointer;
   }
   
   article button svg {
   	width: 1.5em;
   	height: 1.5em;
   }
   
   .cls-1 {
   	transition: .3s;
   	fill: #000;
   }
   
   
   .opgeslagen .cls-1 {
   	fill: #ED192C;
   }

.verwijderd .cls-1 {
   	fill: yellow;
   }

   footer {
    text-align: center;
    background-color: #ffffff;
    height: 4em;
    margin-top: 4rem; 
}

   footer p {
    padding: 1.2em;
}
   
   @keyframes shake {
   	10%,
   	90% {
   		transform: translate3d(-1px, 0, 0);
   	}
   	20%,
   	80% {
   		transform: translate3d(2px, 0, 0);
   	}
   	30%,
   	50%,
   	70% {
   		transform: translate3d(-4px, 0, 0);
   	}
   	40%,
   	60% {
   		transform: translate3d(4px, 0, 0);
   	}
   }
   
   .beweging {
   	animation-name: shake;
   	animation-duration: 2s;
   }
   
   @media (min-width:20em) {
   	main {
   		grid-template-columns: 1fr;
   	}
   	@media (min-width:40em) {
   		main {
   			grid-template-columns: 1fr 1fr;
   			margin-left: 1em;
   			margin-right: 1em;
   		}
   		aside {
   			grid-row: 1/3;
   		}
   		header article {
   			position: relative;
   		}
   		header article a>img:first-of-type {
   			width: 50%;
   			height: 100%;
   			position: absolute;
   			top: 0em;
   			right: 0;
   		}
   		header article h2 {
   			text-align: left;
   		}
   		header article h3 a {
   			color: #ffffff;
   			font-size: 1em;
   			font-weight: normal;
   			text-decoration: none;
   		}
   	}
   	@media (min-width:60em) {
   		main {
   			grid-template-columns: 1fr 1fr 1fr;
   			max-width: 67.5em;
   			margin: auto;
   		}
   	}
   	@media (max-width:1200px) and (min-width:900px) {
   		main {
   			margin-left: 2em;
   			margin-right: 2em;
   		}
   	}
	   
	.resultatenpagina h1 {
	color: #00477F;
	font-size: 1.5em;
	border-bottom: 0.1em solid #ED1A2D;
    margin: 0.375em 0 0;
    width: 7em;
	font-weight: 500;
}
